@media (max-width: 1200px) {
header{
justify-content: space-around;
padding: 10px 0;
font-size: 22px;
}
}

/* min-width of mobile*/

@media (max-width: 768px){
html{
overflow-x: hidden;
}
/* navbar styles */
#navbar{
position: absolute;
right: -4000px;
width: 300px;
top: 100px;
transition: right .3s ease;
}

#navbar.navbarDisplay{
background-color: #134;
right: 0;
height: 250px;
display: block;
width: 100%;
top: 100px;
text-align: center;
}
.hamburger{
color: var(--txt-color);
font-size: 35px;
cursor: pointer;
position: absolute;
top: 20%;
right: 18px;
display: block;
}

/* cart bag styles*/
header .cartBag{
margin-right: 60px;
}
.product-grid{
grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));

}
/* news letter sections*/
.newsleter form{
flex: 1;
gap: 15px;
flex-direction: column;
}
.newsleter form input{
border-radius: 22px;
flex-wrap: wrap;
max-width: 350px;
width: 100%;
}
.newsleter form .btnSubscribe{
border-radius: 22px;
width: 70%;
}
/* news letter section ends*/
.footer{
flex-direction: column;
gap: 15px;
text-align: center;
background-color: darkcyan;
}

/*product html parts*/
.one-products{
padding: 20px 20px;
flex-direction: column;
}

}



@media (max-width: 375px){

/* navbar styles */

    html{
    font-size: 22px;
    overflow-x: hidden;
      }
#navbar{
font-size: 18px;
}

.hamburger{

font-size: 25px;
}
.product-grid{
grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

}

.footer{
flex-direction: column;
gap: 12px;
text-align: center;
}

}
