*{
padding: 0;
margin: 0; box-sizing: border-box;
font-family: 'poppins', sans-serif;
outline: none;
border: none;
scroll-behavior: smooth;
}
::-webkit-scrollbar{
width: 5px;
background-color: #FF8C42;
}

::-webkit-scrollbar-thumb{
background-color: #166;
}

:root{
--txt-color: #FFFFFF;
--home-textColor: #011;
--sun-color: #166;
--home-paraColor: #100;
--bg-color:#134;
--button-color: #007ACC;
--info-color: #6E6E6E;
--hover-color: #166;
--bdfont-size: 1.6rem;
--head1-size: 3.2rem;
--head2-size: 2.4rem;
--header-color: #134;
--butfont-size: 1.5rem;
--butpad: 1.2rem 2.4rem;
--iconSize: 3rem;
--bright-color: #F0F0F0;
--btn-hover: #166;
--btmfont-color: #FF8C67;
}
body{
height: 200vh;
overflow-x: hidden;
}

header{
display: flex;
position: fixed;
justify-content: space-between;
align-items: center;
padding: 10px 80px;
width: 100%;
z-index: 1;
background-color: var(--header-color);

}
header .logo{
font-size: 1.2rem;
display: flex;
align-items: center;
transition: border 3s all ease;
}
header .logo img{
height: 80px;
width: 80px;
border-radius: 45px;
border: 2px solid #efccfe;
box-shadow: 0 12px 35px rgba(0,0,0,.4);
}
header .logo h3{
padding: 5px;
color: var(--bright-color);
}
header nav ul{
font-size: var(--bdfont-size);
display: flex;
justify-content: center;
align-items: center;
gap: 35px;
}
.btn{
padding: 15px 45px;
font-size: 16px;
background: none;
border: none;
outline: none;
color: var(--txt-color);
background-color: var(--btn-hover);
}


header nav ul li{
list-style: none;
}

header nav ul li a{
text-decoration: none;
position: relative;
color: var(--txt-color);
font-weight: 500;
font-size: 22px;
margin-left: 20px;
}
header nav ul li a::before{
content: "";
left: 0;
bottom: 0;
width: 0%;
position: absolute;
height: 1px;
background-color: #fff;
transition: width .7s ease;
}

header nav ul li a:hover
,header nav ul li a:hover::before{
cursor: pointer;
width: 80%;
color: #166;
} 
/* html search parts*/

#navbar input{
width: 300px;
font-size: 18px;
appearance: none;
border-radius: 30px;
border: none;
outline: none;
padding: 10px 12px;
}

#navbar li .search{
color: var(--txt-color);
padding: 10px 8px;
cursor: pointer;
transition: color .4s all ease, rotate .8s ease;
}
#navbar li .search:hover{
rotate: 45deg;
color: var(--btmfont-color);
cursor: pointer;
}

#navbar .activeClass{
color: #FF8C42;
font-size: 26px;
}
header .cartBag{
display: block;
margin-right: 30px;
cursor: pointer;
}
header .cartBag i{
font-size: 25px;
color: var(--txt-color);
}

header .cartBag span{
position: absolute;
top: 18px;
color: var(--txt-color);
font-size: 18px;
font-weight: bold;
}



.hamburger{
color: var(--txt-color);
font-size: 35px;
cursor: pointer;
position: fixed;
right: 18px;
display: none;
}
.hamburger i{
color: var(--txt-color);

}
/* header section styles ends*/

.hero{
background-image: url(/Image/home-background.jpg);
background-position: center;
background-repeat: none;
text-wrap: wrap;
font-size: 25px;
font-weight: 800;
width: 100%;
text-align: center;
height: 100vh;
padding: 200px 80px;
}
.hero .section-content h1{
font-size: 45px;
margin-bottom: 20px;
font-weight: 700;
color: var(--home-textColor);
text-wrap: wrap;
}
.hero .section-content p{
font-size: 28px;
margin-bottom: 25px;
font-weight: 900;
line-height: 1.5;
color: var(--home-paraColor);
}
.hero .section-content button{
margin-top: 55px;
transition: background 3s all ease;
background: linear-gradient(to right, #FF8C42, #166);
border-radius: 30px;
padding: 20px 60px;
}
.hero button:hover{
cursor: pointer;
background: linear-gradient(to right,#166, #FF8C42);
box-shadow: 4px 8px 35px rgba(34,340,270,0.3);
}
/*some topics about us */
.services{
width: 100%;
padding: 80px 20px;
text-align: center;
background: linear-gradient(45deg, #fff, #F2f2Fe);
}
.services h1{
margin-bottom: 20px;
color: #164;

}
.serviceContent{
display: grid;
gap: 20px;
margin-top: 20px;
grid-template-columns: repeat(auto-fit, minmax(220px, 3fr));
}
.content-card{
border-radius: 20px;
transform: translateY(0);
animation: translate .5 ease;
box-shadow: 3px 5px 34px rgba(0,0,0,0.8);
}
.content-card:nth-child(odd):hover{
transform: translateY(-6px);
box-shadow: 3px 5px 34px rgba(255,255,255,0.2);
}
.content-card:nth-child(even):hover{
transform: translateY(6px);
box-shadow: 3px 5px 34px rgba(255,255,255,0.2);
}
.content-card h3{
text-align: center;
color: #164;
margin: 8px 0;
color: #FF8C42;
font-weight: 800;
}
.content-card img{
max-width: 280px;
height: auto;
width: 100%;
margin-bottom: 8px;
border-radius: 8px;
opacity: .4;
}
.content-card img:hover{
opacity: 1;
}
/* fetrured products ectionstarts*/

.featured-products{
width: 100%;
padding: 80px 20px;
text-align: center;
}
.featured-products h1{
color: var(--hover-color);
text-transform: capitalize;
}
.product-grid{
display: grid;
gap: 20px;
margin-top: 20px;
grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}
.product-card{
padding: 15px;
transform: translateY(0);
animation: translate .6s ease;
background-color: var(--bright-color);
box-shadow: 0 4px 12px rgba(245,0,0,0.1);
border-radius: 12px;
}

.product-card:hover{
transform: translateY(-1px);
cursor: pointer;
box-shadow: 0 12px 35px rgba(0,0,0, .8);
}
.product-card img{
max-width: 200px;
height: auto;
width: 100%;
}
.product-card h3{
text-align: center;
padding: 10px;
color: var(--header-color);
font-size: 19px;

}
.product-card i{
color: #FF8C42;
}

.product-card p{
text-align: center;
color: var(--button-color);
font-size: 16px;
font-weight: 600;
}
.product-card button{
padding: 16px 20px;
font-size: 19px;
background-color: var(--header-color);
border-radius: 7px;
color: var(--txt-color);
}
.product-card button:hover{
cursor: pointer;
background: #166;
}

/* about prodcuts section include*/

.about-product{
padding: 40px 20px;
text-align: center;
background: url(/Image/shop.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
margin-bottom: 30px;
}
.aboutPro-container h1{
color: var(--header-color);
font-weight: 900;
margin-bottom: 15px;
}

.aboutPro-container p{
color: var(--hover-color);
font-size: 22px;
font-weight: 900;
}
.aboutPro-container ul{
list-style: none;
}
.aboutPro-container ul li{
font-weight: bold;
color: var(--header-color);
font-size: 26px;
}
.aboutPro-container #newBtn{
padding: 15px 45px;
border-radius: 30px;
background-color: var(--btn-hover);
color: var(--txt-color);
font-size: 18px;
transition: background .4s all ease;
}
.aboutPro-container #newBtn:hover{
background: linear-gradient(-45deg, #FF8C42, #134);
cursor: pointer;
animation: hover 4s ease-in-out infinite;
transition: background 6s all ease;
}

@keyframes hover{
0%{
transition: background 9s all ease;
background: linear-gradient(-45deg,  #134, #FF8C42);
}
100%{
transition: background 9s all ease;
background: linear-gradient(-45deg,  #FF8C42, #134);
}
}

/* banner sectytion starts*/
.banner-section{
width: 100%;
padding: 80px 20px;
background-image: url(/Image/banner.jpg);
background-position: center;
text-align: center;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}
.banner-section h4{
color: var(--txt-color);
font-size: 22px;
margin-bottom: 10px;
font-weight: 700;
font-size: 28px;
}

.banner-section h2{
color: var(--btmfont-color);
font-size: 20px;
margin-bottom: 12px;
}

.banner-section h2 span{
color: var(--txt-color);
}
.banner-section button{
padding: 15px 45px;
border-radius: 30px;
font-size: 18px;
}

.banner-section button:hover{
background: linear-gradient(44deg, #FF8C42, #134);
cursor: pointer;
}

/* aboutreho sections*/

.aboutreho{
width: 100%;
padding: 80px 20px;
text-align: center;
display: grid;
}
.aboutreho h1{
color: var(--hover-color);
font-size: 28px;
text-align: center;
margin-top: 18px;
margin-bottom: 18px;
text-wrap: wrap;
}
.ourbrands{
margin: 25px 20px;
box-shadow: 0 4px 12px rgba(245,0,0,0.1);
display: grid;
gap: 5px;
grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.brandimg{
display: grid;
text-align: center;
border-radius: 7px;
margin: 5px;
padding: 15px;
background-color: #fff;
box-shadow: 0 4px 4px rgba(0,0,0,.4);
}
.brandimg img{
max-width: 100%;
height: auto;
width: 600px;
}
.brandimg{
color: #007ACC;
text-transform: capitalize;

}
.brandimg p{
color: var(--header-color);
font-size: 17px;
text-transform: capitalize;
}
.brandimg .star i{
color: #FF8C42;
}
.brandimg p{
color: #FF8C67;
}


.brandimg button{
padding: 20px 15px;
color: var(--txt-color);
font-size: 17px;
line-height: 1.2;
background-color: var(--hover-color);
}

.brandimg button:hover{
cursor: pointer;
background: linear-gradient(45deg, #FF8C42, #efccfe);
}
/* newsleter section starts*/


.newsleter{
padding: 40px 0;
width: 100%;
text-align: center;
background-image: url(/Image/news.jpg);
background-repeat: none;
background-position: center;
background-size: cover;
margin-bottom: 25px;
}
.newsleter h2{
color: var(--btmfont-color);
font-size: 25px;
font-weight: 700;
margin-bottom: 12px;
}
.newsleter form{
width: 100%;
display: flex;
align-items: center;
justify-content: center;
gap: 0px;
}
.newsleter form input{
padding: 11px 18px;
width: 100%;
border: none;
outline: none;
font-size: 22px;
border-radius: 22px;
border-top-right-radius: 0;
border-bottom-right-radius: 0;
}

.newsleter form .btnSubscribe{
border-top-left-radius: 0;
border-bottom-left-radius: 0;
padding: 11px 18px;
font-size: 22px;
background-color: var(--header-color);
color: var(--txt-color);
}
.newsleter form .btnSubscribe:hover{
cursor: pointer;
background-color: var(--hover-color);
}


/*¨footer section starts*/


footer{
padding: 80px 20px;
background-color: var(--header-color);
color: var(--txt-color);
width: 100%;
display: flex;
flex-direction: column;
}

.footer{
display: flex;
justify-content: space-around;
align-items: center;

}

.footer .row h2{
font-size: 22px;
margin-bottom: 15px;
color: var(--btmfont-color);
font-weight: 800;
}
.footer .row  li{
list-style: none;
margin-bottom: 10px;
font-size: 17px;
font-weight: 800;
}
.footer .row li a{
text-decoration: none;
color: var(--txt-color);
}
.footer .row li a:hover{
cursor: pointer;
}

.footer .row li a i, .footer .row li i{
padding: 0 12px;
color: var(--button-color);
font-size: 27px;
}

footer .row li a i:hover, .footer .row li:hover{
color: var(--hover-color);
cursor: pointer;

}
footer .copyright{
margin-top: 25px;
color: var(--btmfont-color); 
font-size: 18px;
text-align: center;
}
footer .copyright #copybtn{
font-size: 25px;
font-weight: 900;
color: var(--txt-color);
}

/*added html products parts*/



/* shop.html styles starts*/
/*search products styles starts*/

.search-products{
padding: 60px 10px;
height: auto;
width: 100%;
text-align: center;
}
#search-container{
text-align: center;
}
#search-container input{
padding: 10px 8px;
background-color: transparent;
width: 30%;
border-bottom: 2px solid #110f29;
overflow: hidden;
}
#search-container input:focus{
border-block-color: #6759ff;
cursor: pointer;
}
#search-container button{
padding: 10px 25px;
color: var(--txt-color);
background: #6759ff;
margin-left: 12px;
margin-top: 2px;
border-radius: 25px;
}

.button-value{
padding: 10px 25px;
border: 2px solid #6759ff;
border-radius: 25px;
background: transparent;
cursor: pointer;
color: #6759ff;
margin: 5px 7px;
}
.active{
background: #6759ff;
color: #fff;
}
/*search products styles starts*/

#shopPage{
padding: 150px 20px;
width: 100%;
text-align: center;
height: 100vh;
background-image: url(/Image/shop-home.webp);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}

.section-content h1{
font-size: 45px;
margin-bottom: 20px;
font-weight: 700;
color: var(--txt-color);
}
.section-content p{
font-size: 25px;
margin-bottom: 25px;
font-weight: 900;
line-height: 1.5;
color: var(--btmfont-color);
}
.section-content h3{
font-size: 45px;
color: var(--txt-color);
}

.section-content button{
margin-top: 55px;
transition: background 3s all ease;
background: linear-gradient(to right, #FF8C42, #166);
}
.section-content button:hover{
cursor: pointer;
background: linear-gradient(to right,#166, #FF8C42);
box-shadow: 4px 8px 35px rgba(34,340,0,0.3);
}

.prodcut-sections{
display: grid;
text-align: center;
}
.prodcut-sections h1{

}

/* products.html section starts*/



.one-products{
padding: 80px 20px;
display: flex;
width: 100%;
height: 80vh;
gap: 45px;
justify-content: center;
align-items: center;
text-align: center;
background-color: #164
}
.main-image{
height: auto;
width: 370px;
background-color: #F0F0F0;
}

.main-image img{
width: 380px;
border-radius: 25px;
height: auto;
}
.details {
display: flex;
flex-direction: column;
}

/*contact section styles*/

.contact-section{
text-align: center;
padding: 80px 20px;
height: auto;
}
.contact-section h1{
font-size: 45px;
margin-bottom: 15px;
color: #FF8C42;
}
.contact-form{
display: flex;
align-items: center;
justify-content: center;
}
.contact-form form{
text-align: center;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
width: 100%;
max-width: 1000px;
background: linear-gradient(45deg, #ecf, #153);
padding: 10px;
gap: 10px;
height: 100vh;
overflow: none;
border-radius: 30px;
}
.contact-form form label{
color: var(--txt-color);
font-size: 20px;
}
.contact-form form input::placeholder{
opacity: .59;
color: #FF8C42;
}
.contact-form form input{
padding: 18px;
width: 100%;
border: none;
outline-offset: none;
font-size: 16px;
font-weight: 600;
color: #100;
border-radius: 20px;
text-transform: capitalize;
}
.contact-form form input:focus{
border-bottom: 2px solid #FF8C42;
cursor: pointer;
}
.contact-form form select{
padding: 15px;
width: 80%;
text-align: center;
appearance: none;
font-size: 16px;
color: #153;
}
.contact-form form select:focus{
border: 2px solid #FF8C67;
}
.contact-form form textarea{
width: 90%;
float: left;
padding: 20px;
resize: none;
font-size: 16px;
color: #100;
font-size: 16px;
text-transform: capitalize;
}
.contact-form form #formBtn{
width: 100%;
font-size: 17px;
color: var(--txt-color);
padding: 18px;
border-radius: 30px;
background: linear-gradient(to right, #FF8C42, #166);
}
.contact-form form #formBtn:hover{
cursor: pointer;
background: linear-gradient(to right, #166, #FF8C42);
}